// ※※컬러코드※※ //
$fontColor: #f8f9fa;
$bgColor: #191a19;
$mainColor: #36ac68;
$darkGreen: #97aca0;
$customRed: #ff412d;
$pointColor: #f15f79;

$rgbBlack15: rgba(0, 0, 0, 0.15);
$rgbBlack2: rgba(0, 0, 0, 0.2);
$rgbBlack4: rgba(0, 0, 0, 0.4);

$rgbBg3: rgba(20, 22, 21, 0.3);
$rgbBg4: rgba(20, 22, 21, 0.4);
$rgbBg5: rgba(20, 22, 21, 0.5);
$rgbBg85: rgba(20, 22, 21, 0.85);
$rgbBg95: rgba(20, 22, 21, 0.95);
$rgbBg100: rgba(20, 22, 21, 1);

$rgbFt05: rgba(248, 249, 250, 0.05);
$rgbFt085: rgba(248, 249, 250, 0.085);
$rgbFt1: rgba(248, 249, 250, 0.1);
$rgbFt15: rgba(248, 249, 250, 0.15);
$rgbFt2: rgba(248, 249, 250, 0.2);
$rgbFt3: rgba(248, 249, 250, 0.3);
$rgbFt4: rgba(248, 249, 250, 0.4);
$rgbFt5: rgba(248, 249, 250, 0.5);
$rgbFt6: rgba(248, 249, 250, 0.6);
$rgbFt7: rgba(248, 249, 250, 0.7);
$rgbFt8: rgba(248, 249, 250, 0.8);
$rgbFt9: rgba(248, 249, 250, 0.9);

$rgbMain05: rgba(54, 172, 104, 0.05);
$rgbMain2: rgba(54, 172, 104, 0.2);
$rgbMain3: rgba(54, 172, 104, 0.3);
$rgbMain5: rgba(54, 172, 104, 0.5);
$rgbMain6: rgba(54, 172, 104, 0.6);
$rgbMain7: rgba(54, 172, 104, 0.7);
$rgbMain8: rgba(54, 172, 104, 0.8);
$rgbMain85: rgba(54, 172, 104, 0.85);
$rgbMain9: rgba(54, 172, 104, 0.9);
$rgbMain95: rgba(54, 172, 104, 0.95);

$darkGreen03: rgba(151, 172, 160, 0.03);
$darkGreen05: rgba(151, 172, 160, 0.05);
$darkGreen07: rgba(151, 172, 160, 0.07);
$darkGreen08: rgba(151, 172, 160, 0.08);
$darkGreen09: rgba(151, 172, 160, 0.09);
$darkGreen1: rgba(151, 172, 160, 0.1);
$darkGreen12: rgba(151, 172, 160, 0.12);
$darkGreen15: rgba(151, 172, 160, 0.15);
$darkGreen2: rgba(151, 172, 160, 0.2);
$darkGreen3: rgba(151, 172, 160, 0.3);
$darkGreen5: rgba(151, 172, 160, 0.5);
$darkGreen6: rgba(151, 172, 160, 0.6);
$darkGreen7: rgba(151, 172, 160, 0.7);
$darkGreen8: rgba(151, 172, 160, 0.8);
$darkGreen9: rgba(151, 172, 160, 0.9);

$rgbPoint2: rgba(241, 95, 121, 0.2);
$rgbPoint3: rgba(241, 95, 121, 0.3);
$rgbPoint5: rgba(241, 95, 121, 0.5);
$rgbPoint8: rgba(241, 95, 121, 0.8);
$rgbPoint9: rgba(241, 95, 121, 0.9);
$rgbPoint95: rgba(241, 95, 121, 0.95);
